This notebook contains script elements to pracice using pandas.
The first section is from: https://pandas.pydata.org/docs/user_guide/10min.html
and https://pandas.pydata.org/docs/user_guide/io.html

In [3]:
import numpy as np
import pandas as pd

# The first reason that I find pandas unintuitive

When you read in a file, if you do not specify an index, you get records indexed by entry number.
It is the fact that this happens silently that cuases me problems.

You can see the difference with cnn_dm_df and cnn_dm_noi_df. noi means no index was included and the numbers on the left are being used in the dataframe as the index, not the id column.

I also find it unintuitive that the datatype of the index is not included in the dtypes list.

In [10]:
data_file = "/home/kristina/Documents/data/cnn_dailymail/train.csv"

cnn_dm_df = pd.read_csv(data_file, index_col='id')
cnn_dm_noi_df = pd.read_csv(data_file)
print(cnn_dm_df.head(2))
print(cnn_dm_noi_df.head(2))

                                                                                    article  \
id
0001d1afc246a7964130f43ae940af6bc6c57f01  By . Associated Press . PUBLISHED: . 14:11 EST...
0002095e55fcbd3a2f366d9bf92a95433dc305ef  (CNN) -- Ralph Mata was an internal affairs li...

                                                                                 highlights
id
0001d1afc246a7964130f43ae940af6bc6c57f01  Bishop John Folda, of North Dakota, is taking ...
0002095e55fcbd3a2f366d9bf92a95433dc305ef  Criminal complaint: Cop used his role to help ...
                                         id  \
0  0001d1afc246a7964130f43ae940af6bc6c57f01
1  0002095e55fcbd3a2f366d9bf92a95433dc305ef

                                             article  \
0  By . Associated Press . PUBLISHED: . 14:11 EST...
1  (CNN) -- Ralph Mata was an internal affairs li...

                                          highlights
0  Bishop John Folda, of North Dakota, is taking ...
1  Criminal complaint: Cop used his role to help ...

In [14]:
print("with index")
print(cnn_dm_df.dtypes)
print("\nwithout index")
print(cnn_dm_noi_df.dtypes)

with index
article       object
highlights    object
dtype: object

without index
id            object
article       object
highlights    object
dtype: object

In [16]:
print(cnn_dm_df.index)
print("\n\nwithout index")
print(cnn_dm_noi_df.index)

Index(['0001d1afc246a7964130f43ae940af6bc6c57f01',
       '0002095e55fcbd3a2f366d9bf92a95433dc305ef',
       '00027e965c8264c35cc1bc55556db388da82b07f',
       '0002c17436637c4fe1837c935c04de47adb18e9a',
       '0003ad6ef0c37534f80b55b4235108024b407f0b',
       '0004306354494f090ee2d7bc5ddbf80b63e80de6',
       '0005d61497d21ff37a17751829bd7e3b6e4a7c5c',
       '0006021f772fad0aa78a977ce4a31b3faa6e6fe5',
       '00083697263e215e5e7eda753070f08aa374dd45',
       '000940f2bb357ac04a236a232156d8b9b18d1667',
       ...
       'fffcb37fb11b1055eea4d6fc69ae0c44b499aa6d',
       'fffcc9bc0d9aa65680ebad70d698eaa8d091d148',
       'fffd2fe47548b7f2b5621765190a74c2a25798b7',
       'fffd571b1b78d9156c4fcf8d7b8b6bd0cc17175b',
       'fffd5be9aaf3ccca69dd6c9fa4cb5167f859e8c4',
       'fffdfb56fdf1a12d364562cc2b9b1d4de7481dee',
       'fffeecb8690b85de8c3faed80adbc7a978f9ae2a',
       'ffff5231e4c71544bc6c97015cdb16c60e42b3f4',
       'ffff924b14a8d82058b6c1c5368ff1113c1632af',
       'ffffd563a96104f5cf4493cfa701a65f31b06abf'],
      dtype='object', name='id', length=287113)


without index
RangeIndex(start=0, stop=287113, step=1)

In [17]:
cnn_dm_df.columns

Index(['article', 'highlights'], dtype='object')

In [18]:
dates = pd.date_range("20130101", periods=6)
dates_df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
print(dates_df.head())
print(dates_df.index)

                   A         B         C         D
2013-01-01 -0.234584 -0.392964 -0.643740 -0.282849
2013-01-02  0.232813  2.559585  1.486971 -0.695225
2013-01-03 -0.168154 -0.399133  0.360266  1.543201
2013-01-04 -0.344135  2.220075  0.683452 -0.034712
2013-01-05  0.259575 -1.723946  0.573186  1.301449
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

Note that since an index is declared there are no numbers on the left.
If I wanted the default index of entry number, I would need to make a column for the dates.

In [19]:
nums_df = pd.DataFrame(np.random.randn(6, 4), columns=list("ABCD"))
print(nums_df.head())
print(nums_df.index)

          A         B         C         D
0 -1.888819 -1.077421 -0.454837 -0.601356
1  0.257038 -0.746521  1.352918 -0.544639
2 -0.382972  1.097669  0.201919 -0.980249
3 -0.066209  0.344707  2.619418  0.304870
4  0.517293  2.151400 -0.246931 -0.549164
RangeIndex(start=0, stop=6, step=1)

In [20]:
nums_df.insert(0, 'date', dates)
print(nums_df.head())
print(nums_df.index)

        date         A         B         C         D
0 2013-01-01 -1.888819 -1.077421 -0.454837 -0.601356
1 2013-01-02  0.257038 -0.746521  1.352918 -0.544639
2 2013-01-03 -0.382972  1.097669  0.201919 -0.980249
3 2013-01-04 -0.066209  0.344707  2.619418  0.304870
4 2013-01-05  0.517293  2.151400 -0.246931 -0.549164
RangeIndex(start=0, stop=6, step=1)

In [21]:
print(dates_df.describe())
print(nums_df.describe())

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.195670  0.385214  0.665566  0.154921
std    0.433390  1.666005  0.805474  1.030533
min   -0.919533 -1.723946 -0.643740 -0.902336
25%   -0.316748 -0.397590  0.413496 -0.592131
50%   -0.201369 -0.172650  0.628319 -0.158781
75%    0.132571  1.676973  1.286091  0.967409
max    0.259575  2.559585  1.533262  1.543201
                      date         A         B         C         D
count                    6  6.000000  6.000000  6.000000  6.000000
mean   2013-01-03 12:00:00 -0.421390  0.254363  0.469644 -0.406593
min    2013-01-01 00:00:00 -1.888819 -1.077421 -0.654623 -0.980249
25%    2013-01-02 06:00:00 -0.819246 -0.620806 -0.402860 -0.588308
50%    2013-01-03 12:00:00 -0.224590  0.050524 -0.022506 -0.546902
75%    2013-01-04 18:00:00  0.176226  0.909428  1.065168 -0.187924
max    2013-01-06 00:00:00  0.517293  2.151400  2.619418  0.304870
std                    NaN  0.885158  1.211736  1.273224  0.453108

Sorting with the index requires defining an axis.
Axis 0 means the rows and Axis 1 means the columns

In [22]:
# reminder
dates_df

                   A         B         C         D
2013-01-01 -0.234584 -0.392964 -0.643740 -0.282849
2013-01-02  0.232813  2.559585  1.486971 -0.695225
2013-01-03 -0.168154 -0.399133  0.360266  1.543201
2013-01-04 -0.344135  2.220075  0.683452 -0.034712
2013-01-05  0.259575 -1.723946  0.573186  1.301449
2013-01-06 -0.919533  0.047664  1.533262 -0.902336

In [23]:
# Sorting by column names (indices)
dates_df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.282849 -0.643740 -0.392964 -0.234584
2013-01-02 -0.695225  1.486971  2.559585  0.232813
2013-01-03  1.543201  0.360266 -0.399133 -0.168154
2013-01-04 -0.034712  0.683452  2.220075 -0.344135
2013-01-05  1.301449  0.573186 -1.723946  0.259575
2013-01-06 -0.902336  1.533262  0.047664 -0.919533

In [24]:
# Sorting by the row indices
dates_df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -0.919533  0.047664  1.533262 -0.902336
2013-01-05  0.259575 -1.723946  0.573186  1.301449
2013-01-04 -0.344135  2.220075  0.683452 -0.034712
2013-01-03 -0.168154 -0.399133  0.360266  1.543201
2013-01-02  0.232813  2.559585  1.486971 -0.695225
2013-01-01 -0.234584 -0.392964 -0.643740 -0.282849

In [25]:
# Can also sort by value
nums_df.sort_values(by='date', ascending=False)

        date         A         B         C         D
5 2013-01-06 -0.964671 -0.243659 -0.654623 -0.069019
4 2013-01-05  0.517293  2.151400 -0.246931 -0.549164
3 2013-01-04 -0.066209  0.344707  2.619418  0.304870
2 2013-01-03 -0.382972  1.097669  0.201919 -0.980249
1 2013-01-02  0.257038 -0.746521  1.352918 -0.544639
0 2013-01-01 -1.888819 -1.077421 -0.454837 -0.601356

Can select a column by name and get a series.
Note that the index is included in the series.
Same with a slice.
Note: the entry numbers are an implicit index into the dataframe, so dates_df[0:3] is fine
while nums_df["20130102":"20130104"] throws an exception because the index is not dates.

In [26]:
print(dates_df['C'])
print(nums_df['C'])

2013-01-01   -0.643740
2013-01-02    1.486971
2013-01-03    0.360266
2013-01-04    0.683452
2013-01-05    0.573186
2013-01-06    1.533262
Freq: D, Name: C, dtype: float64
0   -0.454837
1    1.352918
2    0.201919
3    2.619418
4   -0.246931
5   -0.654623
Name: C, dtype: float64

In [27]:
print(dates_df[0:3])
print(nums_df[0:3])
print(dates_df["20130102":"20130104"])
# This next line throws an exception because the dates are not the index
#print(nums_df["20130102":"20130104"])

                   A         B         C         D
2013-01-01 -0.234584 -0.392964 -0.643740 -0.282849
2013-01-02  0.232813  2.559585  1.486971 -0.695225
2013-01-03 -0.168154 -0.399133  0.360266  1.543201
        date         A         B         C         D
0 2013-01-01 -1.888819 -1.077421 -0.454837 -0.601356
1 2013-01-02  0.257038 -0.746521  1.352918 -0.544639
2 2013-01-03 -0.382972  1.097669  0.201919 -0.980249
                   A         B         C         D
2013-01-02  0.232813  2.559585  1.486971 -0.695225
2013-01-03 -0.168154 -0.399133  0.360266  1.543201
2013-01-04 -0.344135  2.220075  0.683452 -0.034712

Selection by label is where everything gets weird if you are used to using dictionaries.
In pandas, you want to use df.loc or df.at, not the coordinates.

In [28]:
dates_df.loc[dates[0]]

A   -0.234584
B   -0.392964
C   -0.643740
D   -0.282849
Name: 2013-01-01 00:00:00, dtype: float64

In [ ]:
#dates_df[dates[0]]
# Throws an exception

# Imagined Pandas issue turned out to be untrue: data types can have unclear Python correlates

In the following cell, I remind you how the dates for the index were created.
I then try a bunch of ways to access a single element.
Timestamp will come later when I turn the dataframe into a dictionary in the next section.
Note: I originally thought this was a fail because I didn't put in .loc

In [35]:
from datetime import datetime

In [36]:
# reminder dates = pd.date_range("20130101", periods=6)

print(dates_df.loc['20130105','B'])
print(dates_df.loc['2013-01-05','B'])
#print(dates_df.loc[Timestamp('20130105'),'B'])  # exception Timestamp not defined
print(dates_df.loc[datetime.fromisoformat('2013-01-05'),'B'])

-1.7239462864103288
-1.7239462864103288
-1.7239462864103288

# Pandas dataframe to a useful Python dictionary

Be super careful using to_dict with a data frame. What happens in the next cell is definitely not what is expected!
The cell after is better with orient='records', but now the index is gone!
The cell after is what we want orient='index'

In [37]:
dates_dict = dates_df.to_dict()
print(dates_dict)
print(dates_dict['A'])

{'A': {Timestamp('2013-01-01 00:00:00'): -0.23458410530329493, Timestamp('2013-01-02 00:00:00'): 0.23281308851106416, Timestamp('2013-01-03 00:00:00'): -0.16815357791658225, Timestamp('2013-01-04 00:00:00'): -0.34413541462962893, Timestamp('2013-01-05 00:00:00'): 0.2595748323900056, Timestamp('2013-01-06 00:00:00'): -0.9195326046535839}, 'B': {Timestamp('2013-01-01 00:00:00'): -0.3929642405110494, Timestamp('2013-01-02 00:00:00'): 2.5595854453525138, Timestamp('2013-01-03 00:00:00'): -0.39913253988117486, Timestamp('2013-01-04 00:00:00'): 2.2200754619527454, Timestamp('2013-01-05 00:00:00'): -1.7239462864103288, Timestamp('2013-01-06 00:00:00'): 0.04766399169999334}, 'C': {Timestamp('2013-01-01 00:00:00'): -0.6437396503113162, Timestamp('2013-01-02 00:00:00'): 1.4869709465644791, Timestamp('2013-01-03 00:00:00'): 0.36026596920706394, Timestamp('2013-01-04 00:00:00'): 0.6834516433462398, Timestamp('2013-01-05 00:00:00'): 0.5731864257081474, Timestamp('2013-01-06 00:00:00'): 1.5332615907127938}, 'D': {Timestamp('2013-01-01 00:00:00'): -0.2828491128941791, Timestamp('2013-01-02 00:00:00'): -0.6952252149140142, Timestamp('2013-01-03 00:00:00'): 1.543201491151298, Timestamp('2013-01-04 00:00:00'): -0.03471207383607149, Timestamp('2013-01-05 00:00:00'): 1.3014488580319215, Timestamp('2013-01-06 00:00:00'): -0.9023361116914624}}
{Timestamp('2013-01-01 00:00:00'): -0.23458410530329493, Timestamp('2013-01-02 00:00:00'): 0.23281308851106416, Timestamp('2013-01-03 00:00:00'): -0.16815357791658225, Timestamp('2013-01-04 00:00:00'): -0.34413541462962893, Timestamp('2013-01-05 00:00:00'): 0.2595748323900056, Timestamp('2013-01-06 00:00:00'): -0.9195326046535839}

In [38]:
dates_dict = dates_df.to_dict(orient='records')
print(dates_dict)

[{'A': -0.23458410530329493, 'B': -0.3929642405110494, 'C': -0.6437396503113162, 'D': -0.2828491128941791}, {'A': 0.23281308851106416, 'B': 2.5595854453525138, 'C': 1.4869709465644791, 'D': -0.6952252149140142}, {'A': -0.16815357791658225, 'B': -0.39913253988117486, 'C': 0.36026596920706394, 'D': 1.543201491151298}, {'A': -0.34413541462962893, 'B': 2.2200754619527454, 'C': 0.6834516433462398, 'D': -0.03471207383607149}, {'A': 0.2595748323900056, 'B': -1.7239462864103288, 'C': 0.5731864257081474, 'D': 1.3014488580319215}, {'A': -0.9195326046535839, 'B': 0.04766399169999334, 'C': 1.5332615907127938, 'D': -0.9023361116914624}]

In [39]:
dates_dict = dates_df.to_dict(orient='index')
print(dates_dict)

{Timestamp('2013-01-01 00:00:00'): {'A': -0.23458410530329493, 'B': -0.3929642405110494, 'C': -0.6437396503113162, 'D': -0.2828491128941791}, Timestamp('2013-01-02 00:00:00'): {'A': 0.23281308851106416, 'B': 2.5595854453525138, 'C': 1.4869709465644791, 'D': -0.6952252149140142}, Timestamp('2013-01-03 00:00:00'): {'A': -0.16815357791658225, 'B': -0.39913253988117486, 'C': 0.36026596920706394, 'D': 1.543201491151298}, Timestamp('2013-01-04 00:00:00'): {'A': -0.34413541462962893, 'B': 2.2200754619527454, 'C': 0.6834516433462398, 'D': -0.03471207383607149}, Timestamp('2013-01-05 00:00:00'): {'A': 0.2595748323900056, 'B': -1.7239462864103288, 'C': 0.5731864257081474, 'D': 1.3014488580319215}, Timestamp('2013-01-06 00:00:00'): {'A': -0.9195326046535839, 'B': 0.04766399169999334, 'C': 1.5332615907127938, 'D': -0.9023361116914624}}

# First reason I prefer to use a dictionary over a dataframe

You can reference the dictionary elements by subscripting them, which is the way I have always done it,
without using .loc and .iloc, which are confusing because sometimes you don't need them.

For example, you can add a new column like this:
dates_df["E"] = ["one", "one", "two", "three", "four", "three"], which does not care about indices only order
I do this in a later section.

In [46]:
print(f"dates[0]: {dates_dict[dates[0]]}\n")
#print(dates_dict['20130105']['B']) # exception key error
#print(dates_dict['2013-01-05']['B']) # exception key error
#print(dates_dict[Timestamp('20130105'),'B'])  # exception Timestamp not defined
print(f"2013-01-05, B: {dates_dict[datetime.fromisoformat('2013-01-05')]['B']}")

dates[0]: {'A': -0.23458410530329493, 'B': -0.3929642405110494, 'C': -0.6437396503113162, 'D': -0.2828491128941791}

2013-01-05, B: -1.7239462864103288

In [47]:
print(dates_df.loc[:, ["A", "B"]])

                   A         B
2013-01-01 -0.234584 -0.392964
2013-01-02  0.232813  2.559585
2013-01-03 -0.168154 -0.399133
2013-01-04 -0.344135  2.220075
2013-01-05  0.259575 -1.723946
2013-01-06 -0.919533  0.047664

In [49]:
print({x: {'A': y['A'], 'B': y['B']} for x, y in dates_dict.items()})

{Timestamp('2013-01-01 00:00:00'): {'A': -0.23458410530329493, 'B': -0.3929642405110494}, Timestamp('2013-01-02 00:00:00'): {'A': 0.23281308851106416, 'B': 2.5595854453525138}, Timestamp('2013-01-03 00:00:00'): {'A': -0.16815357791658225, 'B': -0.39913253988117486}, Timestamp('2013-01-04 00:00:00'): {'A': -0.34413541462962893, 'B': 2.2200754619527454}, Timestamp('2013-01-05 00:00:00'): {'A': 0.2595748323900056, 'B': -1.7239462864103288}, Timestamp('2013-01-06 00:00:00'): {'A': -0.9195326046535839, 'B': 0.04766399169999334}}

In [50]:
dates_df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02  0.232813  2.559585
2013-01-03 -0.168154 -0.399133
2013-01-04 -0.344135  2.220075

# A reason using a dictionary is intuitively appealing

The advantage I see here to using a dictionary is that the inclusiveness of the slice is made obvious (<=, >=).
Slices in pandas are inclusive. Slices in Python are not inclusive of the end value.

In [51]:
print({x: {'A': y['A'], 'B': y['B']} for x,y in dates_dict.items() 
       if x >= datetime.fromisoformat("2013-01-02") 
       and x <= datetime.fromisoformat("2013-01-04")})

{Timestamp('2013-01-02 00:00:00'): {'A': 0.23281308851106416, 'B': 2.5595854453525138}, Timestamp('2013-01-03 00:00:00'): {'A': -0.16815357791658225, 'B': -0.39913253988117486}, Timestamp('2013-01-04 00:00:00'): {'A': -0.34413541462962893, 'B': 2.2200754619527454}}

# Pandas is faster for creating views of a dataframe, then Python is for views of a dictionay

The above test shows that for a 287,113 item dataframe/dictionary it is faster to use pandas, but the dictionary
still finishes in 0.05 of a second.

In [52]:
cnn_dm_dict = cnn_dm_df.to_dict(orient='index')
print(cnn_dm_dict['0001d1afc246a7964130f43ae940af6bc6c57f01'])

{'article': "By . Associated Press . PUBLISHED: . 14:11 EST, 25 October 2013 . | . UPDATED: . 15:36 EST, 25 October 2013 . The bishop of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A virus in late September and early October. The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion. Bishop John Folda (pictured) of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A . State Immunization Program Manager Molly Howell says the risk is low, but officials feel it's important to alert people to the possible exposure. The diocese announced on Monday that Bishop John Folda is taking time off after being diagnosed with hepatitis A. The diocese says he contracted the infection through contaminated food while attending a conference for newly ordained bishops in Italy last month. Symptoms of hepatitis A include fever, tiredness, loss of appetite, nausea and abdominal discomfort. Fargo Catholic Diocese in North Dakota (pictured) is where the bishop is located .", 'highlights': 'Bishop John Folda, of North Dakota, is taking time off after being diagnosed .\nHe contracted the infection through contaminated food in Italy .\nChurch members in Fargo, Grand Forks and Jamestown could have been exposed .'}

In [53]:
import time

In [54]:
start = time.perf_counter()
cnndm_high_df = cnn_dm_df.loc[:, 'highlights']
end = time.perf_counter()
print(f"time {end - start}")

time 0.0002774170002339815

In [55]:
start = time.perf_counter()
cnndm_high_dict = {x: y['highlights'] for x, y in cnn_dm_dict.items()}
end = time.perf_counter()
print(f"time {end - start}")

time 0.042844804000196746

# Adding rows to a dataframe is where things are inefficient. 

So lets compare.
First getting the rows from the dictionary is much slower unless we leverage the fact that we chose them based on
their position is the list.
Either way Pandas is faster
Adding the elements back to the dictionary is an order of magnitude faster than adding to the dataframe.

Beacuse I want to think about a pandas dataframe as a database, I want to be able to add and subtract elements (rows),
without creating new dataframes and concating them.

In [60]:
# find rows to add

start = time.perf_counter()
repeat_keys = list(cnn_dm_dict.keys())[100000:105000]
end = time.perf_counter()

print(f"{len(repeat_keys)} keys in {end - start} seconds")

5000 keys in 0.004360094999810826 seconds

In [61]:
# Select the rows from a dictionary, slow as expected

start = time.perf_counter()
new_lines = {x: y for x, y in cnn_dm_dict.items() if x in repeat_keys}
end = time.perf_counter()

print(f"{len(new_lines)} in {end - start} seconds")

5000 in 8.292842819999805 seconds

In [67]:
# Select the rows from a dictionary, try to speed it up

start = time.perf_counter()
new_lines = {x: cnn_dm_dict[x] for ind, x in enumerate(cnn_dm_dict) if ind in range(100000, 105000)}
end = time.perf_counter()

print(f"{len(new_lines)} in {end - start} seconds")

5000 in 0.031192838000151824 seconds

In [62]:
# Select the rows from the dataframe, much faster

start = time.perf_counter()
new_df = cnn_dm_df.loc[repeat_keys]
end = time.perf_counter()

print(f"{len(new_df)} in {end - start} seconds")

5000 in 0.004171418000169069 seconds

In [63]:
# Update the dictionary with the repeated rows, the length should not change

start = time.perf_counter()
cnn_dm_dict.update(new_lines)
end = time.perf_counter()

print(f"{len(cnn_dm_dict)} in {end - start} seconds")

287113 in 0.0007020839998403972 seconds

In [64]:
# Update the dataframe with the repeated rows, the length should not change

start = time.perf_counter()
cnn_dm_df = pd.concat([cnn_dm_df, new_df])
end = time.perf_counter()

print(f"{len(new_lines)} in {end - start} seconds")

5000 in 0.00880983400020341 seconds

# Second thing that makes pandas unintuitive to me

A way that I run into problems with pandas dataframes is if I forget to pass an index to the read.
Then I build a new df using a dictionary because I was looping through and didn't want to concat every time.
I turn the dictionary into a dataframe.
Then concat.
Pandas does not warn me that I have just made a mess!
It does not overwrite the repeated ids, like before. It silently sets all the new ids to 'Nan'.

In [68]:
new_df = pd.DataFrame.from_dict(new_lines, orient='index')
print(new_df.head(2))

                                                                                    article  \
0cd96cc680ac812f9f5050cda28ca03ad5cd496b  By . Rachel Reilly . PUBLISHED: . 09:20 EST, 1...
0cd9eac820f2267622743768dd95da24cd0d6252  By . Ruth Styles . PUBLISHED: . 06:13 EST, 6 S...

                                                                                 highlights
0cd96cc680ac812f9f5050cda28ca03ad5cd496b  Sex clinics across the UK are stretched becaus...
0cd9eac820f2267622743768dd95da24cd0d6252  The striking images are the work of Chicago ph...

In [69]:
new_cnndm_df = pd.concat([cnn_dm_noi_df, new_df])

In [70]:
len(new_cnndm_df)

292113

In [71]:
new_cnndm_df.index

Index([                                         0,
                                                1,
                                                2,
                                                3,
                                                4,
                                                5,
                                                6,
                                                7,
                                                8,
                                                9,
       ...
       '136eb3eaaff06322cf6b994c17a4e3a380b75ef5',
       '136f34a07047a1ed1970807f4a251e66263e24a5',
       '136fef74a8cf65c82a0b8613ca348f351c30afc1',
       '13703249c62d31050fd7eb50da7a9bc49f417c1b',
       '13715153f943c6127bb98a7cc77703e4093f3253',
       '1371eda4492599cb676a6568b6e6d93265e81231',
       '137203cf30e5366dba9a979f2fbf09f4fb8fd8bd',
       '1372824d0af2263538ebabe84a2f2087ab82bf26',
       '1372998eb619434e3e405ed70e33e62802bbe297',
       '1372ffa89d5a6726926e62ce8005beda9619d22f'],
      dtype='object', length=292113)

In [72]:
new_cnndm_df.loc[[0,'136eb3eaaff06322cf6b994c17a4e3a380b75ef5']]

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
136eb3eaaff06322cf6b994c17a4e3a380b75ef5,NaN,"By . Kerry Mcdermott . PUBLISHED: . 07:57 EST,...",Student Tom Henry Waller burst into store with...

# Third reason I find dictionaries more intuitively appealing is filtering

In the filter below the second "dates_df" is required, which I get is because it could be another dataframes "E" column,
but I find it difficult to remember to repeat it.

Using a dictionary, you can still do the implicit ordering (since python 3.10 keeps dictionaries in order)
and I find the selecting more appealing, even though the name is technically repeated by the y in y['E'].

In [73]:
# adding column to dates_df as described in First reason
dates_df["E"] = ["one", "one", "two", "three", "four", "three"]
dates_df[dates_df["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03 -0.168154 -0.399133  0.360266  1.543201   two
2013-01-05  0.259575 -1.723946  0.573186  1.301449  four

In [74]:
add_no = ["one", "one", "two", "three", "four", "three"]

for ind, elt in enumerate(dates_dict.values()):
    elt['E'] = add_no[ind]
    
print({x: y for x, y in dates_dict.items() if y['E'] in ["two", "four"]})

{Timestamp('2013-01-03 00:00:00'): {'A': -0.16815357791658225, 'B': -0.39913253988117486, 'C': 0.36026596920706394, 'D': 1.543201491151298, 'E': 'two'}, Timestamp('2013-01-05 00:00:00'): {'A': 0.2595748323900056, 'B': -1.7239462864103288, 'C': 0.5731864257081474, 'D': 1.3014488580319215, 'E': 'four'}}

# I don't know how I feel about the pandas syntax:
df[df > 0]
if your db is all numbers.

In [75]:
all_nums_df = dates_df[list("ABCD")]
all_nums_df[all_nums_df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02  0.232813  2.559585  1.486971       NaN
2013-01-03       NaN       NaN  0.360266  1.543201
2013-01-04       NaN  2.220075  0.683452       NaN
2013-01-05  0.259575       NaN  0.573186  1.301449
2013-01-06       NaN  0.047664  1.533262       NaN

# Relatively complicated Pandas example

This example was devised by the Google search LLM.

In [76]:
# Create sample sales data
sales_data = {
    'ProductID': ['A1', 'A2', 'B1', 'B2', 'C1', 'C2', 'A3', 'B3'],
    'Category': ['Electronics', 'Electronics', 'Home Goods', 'Home Goods', 'Apparel', 'Apparel', 'Electronics', 'Home Goods'],
    'Sales': [100, 150, 80, 120, 50, 75, 200, 90]
}

df_sales = pd.DataFrame(sales_data)

In [77]:
# Create sample product info data
product_info = {
    'ProductID': ['A1', 'A2', 'B1', 'B2', 'C1', 'C2', 'A3', 'B3'],
    'Price': [250, 300, 100, 180, 60, 90, 400, 110],
    'Volume_Liters': [1.5, 2.0, 0.8, 1.2, 0.5, 0.7, 2.5, 0.9]
}

df_products = pd.DataFrame(product_info)

In [78]:
# Define a custom function for filtering and calculation
def process_products(df):
    # Filter for products with price > 100 and volume > 1 liter
    filtered_df = df[ (df['Price'] > 100) & (df['Volume_Liters'] > 1) ]
    return filtered_df

In [79]:
# Complex Pandas operation using method chaining and custom function
result_df = (
    df_sales
    .merge(df_products, on='ProductID', how='left')  # Merge sales with product info
    .pipe(process_products)  # Apply custom filtering function
    .groupby('Category')['Sales']  # Group by category
    .mean()  # Calculate mean sales for filtered products
    .reset_index()  # Convert Series back to DataFrame
    .rename(columns={'Sales': 'Average_Filtered_Sales'}) # Rename column for clarity
)

print(result_df)

      Category  Average_Filtered_Sales
0  Electronics                   150.0
1   Home Goods                   120.0

# Implementing the same example using dictionaries

I convert the Pandas example into a dictionary example.
There is no point in timing this toy example.
I think the steps are much clearer using the dictionaries.
First I straight replicate, then I add a second mean calculation just for fun.

In [100]:
# Get the ids of the sales we are interested in
ids = [x for ind, x in enumerate(product_info['ProductID']) if product_info['Price'][ind] > 100 
       and product_info['Volume_Liters'][ind] > 1]

In [101]:
# set up a dictionary for the categories found
cat_sales = {x: [] for x in list(set(sales_data['Category']))}
# alternatively sales_data['Category'] I think set() is optimized.

for sale_id in ids:
    s_ind = sales_data['ProductID'].index(sale_id)
    cat_sales[sales_data['Category'][s_ind]].append(sales_data['Sales'][s_ind])

In [103]:
# Print it out all pretty
print('Category\tAverage Filtered Sales')
for x, s in cat_sales.items():
    if not s:
        continue
    print(f"{x}\t\t{sum(s)/len(s)}")

Category	Average Filtered Sales
Home Goods		120.0
Electronics		150.0

In [104]:
# Get the ids of the sales we are interested in
ids = [(x, ind) for ind, x in enumerate(product_info['ProductID']) if product_info['Price'][ind] > 100 
       and product_info['Volume_Liters'][ind] > 1]

In [105]:
# set up a dictionary for the categories found
cat_sales = {x: [[], []] for x in list(set(sales_data['Category']))}
# alternatively sales_data['Category'] I think set() is optimized.

for (sale_id, p_ind) in ids:
    s_ind = sales_data['ProductID'].index(sale_id)
    cat_sales[sales_data['Category'][s_ind]][0].append(sales_data['Sales'][s_ind])
    # added a second mean calculation because I can
    cat_sales[sales_data['Category'][s_ind]][1].append(product_info['Price'][p_ind])

In [106]:
# Print it out all pretty
print('Category\tAverage Filtered Sales\tAverage Filtered Price')
for x, [s, p] in cat_sales.items():
    if not (s and p):
        continue
    print(f"{x}\t\t{sum(s)/len(s)}\t\t\t{sum(p)/len(p)}")

Category	Average Filtered Sales	Average Filtered Price
Home Goods		120.0			180.0
Electronics		150.0			316.6666666666667